In [1]:
# Import the dependencies
import pandas as pd
from pprint import pprint
from pymongo import MongoClient
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base

# NETFLIX

In [21]:
#raw data
CREDNET_df = pd.read_csv('NETFLIX/titles.csv')
CREDNET_df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [3]:
#select desired attributes
NET_SELECTED = CREDNET_df[['id','title','type','release_year', 'genres','production_countries', 'imdb_score','imdb_votes']]
NET_SELECTED.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,['documentation'],['US'],NaN,NaN
1,tm84618,Taxi Driver,MOVIE,1976,"['drama', 'crime']",['US'],8.2,808582.0
2,tm154986,Deliverance,MOVIE,1972,"['drama', 'action', 'thriller', 'european']",['US'],7.7,107673.0
3,tm127384,Monty Python and the Holy Grail,MOVIE,1975,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0
4,tm120801,The Dirty Dozen,MOVIE,1967,"['war', 'action']","['GB', 'US']",7.7,72662.0

# NETFLIX SHOWS CLEAN UP

In [4]:
#split the TVSHOWS 
NET_SHOWS = NET_SELECTED.loc[NET_SELECTED["type"] == "SHOW", :]
NET_SHOWS.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,['documentation'],['US'],NaN,NaN
5,ts22164,Monty Python's Flying Circus,SHOW,1969,"['comedy', 'european']",['GB'],8.8,73424.0
26,ts45948,Monty Python's Fliegender Zirkus,SHOW,1972,['comedy'],[],8.1,2151.0
35,ts20681,Seinfeld,SHOW,1989,['comedy'],['US'],8.9,308824.0
44,ts22082,Knight Rider,SHOW,1982,"['scifi', 'action', 'crime', 'drama']",['US'],6.9,34115.0

In [5]:
#drop NAN in all colums
CLEAN_NANS=NET_SHOWS.dropna() 
CLEAN_NANS.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
5,ts22164,Monty Python's Flying Circus,SHOW,1969,"['comedy', 'european']",['GB'],8.8,73424.0
26,ts45948,Monty Python's Fliegender Zirkus,SHOW,1972,['comedy'],[],8.1,2151.0
35,ts20681,Seinfeld,SHOW,1989,['comedy'],['US'],8.9,308824.0
44,ts22082,Knight Rider,SHOW,1982,"['scifi', 'action', 'crime', 'drama']",['US'],6.9,34115.0
45,ts21715,Thomas & Friends,SHOW,1984,"['animation', 'family', 'comedy', 'fantasy', '...",['GB'],6.5,5104.0

In [6]:
#ascending order or IMDB SCORES AND VOTES
FINAL_NETSHOW = CLEAN_NANS.sort_values(['imdb_score', 'imdb_votes'],
              ascending = [False, False])
FINAL_NETSHOW.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
2658,ts265844,#ABtalks,SHOW,2018,[],[],9.6,7.0
216,ts4,Breaking Bad,SHOW,2008,"['drama', 'crime', 'thriller']",['US'],9.5,1775990.0
564,ts160526,Khawatir,SHOW,2005,['reality'],[],9.5,3115.0
233,ts3371,Avatar: The Last Airbender,SHOW,2005,"['scifi', 'animation', 'action', 'family', 'fa...",['US'],9.3,303666.0
3147,ts85398,Our Planet,SHOW,2019,['documentation'],['GB'],9.3,42259.0

# NETFLIX MOVIES CLEAN UP

In [7]:
#split the MOVIES
NET_MOVIES = NET_SELECTED.loc[NET_SELECTED["type"] == "MOVIE", :]
NET_MOVIES.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
1,tm84618,Taxi Driver,MOVIE,1976,"['drama', 'crime']",['US'],8.2,808582.0
2,tm154986,Deliverance,MOVIE,1972,"['drama', 'action', 'thriller', 'european']",['US'],7.7,107673.0
3,tm127384,Monty Python and the Holy Grail,MOVIE,1975,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0
4,tm120801,The Dirty Dozen,MOVIE,1967,"['war', 'action']","['GB', 'US']",7.7,72662.0
6,tm70993,Life of Brian,MOVIE,1979,['comedy'],['GB'],8.0,395024.0

In [8]:
#drop NAN in all colums
CLEAN_NANM=NET_MOVIES.dropna() 
CLEAN_NANM.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
1,tm84618,Taxi Driver,MOVIE,1976,"['drama', 'crime']",['US'],8.2,808582.0
2,tm154986,Deliverance,MOVIE,1972,"['drama', 'action', 'thriller', 'european']",['US'],7.7,107673.0
3,tm127384,Monty Python and the Holy Grail,MOVIE,1975,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0
4,tm120801,The Dirty Dozen,MOVIE,1967,"['war', 'action']","['GB', 'US']",7.7,72662.0
6,tm70993,Life of Brian,MOVIE,1979,['comedy'],['GB'],8.0,395024.0

In [9]:
#ascending order or IMDB SCORES AND VOTES
FINAL_NETMOVIE = CLEAN_NANM.sort_values(['imdb_score', 'imdb_votes'],
              ascending = [False, False])
FINAL_NETMOVIE.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
4771,tm996762,Major,MOVIE,2022,"['action', 'drama']",['IN'],9.1,7576.0
1092,tm250247,Chhota Bheem & Krishna vs Zimbara,MOVIE,2013,['animation'],[],9.1,16.0
3271,tm853783,David Attenborough: A Life on Our Planet,MOVIE,2020,['documentation'],['GB'],8.9,31625.0
2547,tm432327,C/o Kancharapalem,MOVIE,2018,['drama'],['IN'],8.9,6842.0
237,tm92641,Inception,MOVIE,2010,"['action', 'scifi', 'music', 'thriller']","['US', 'GB']",8.8,2294231.0

# PARAMOUNT

In [10]:
CREDPAR_df = pd.read_csv('PARAMOUNT/titles.csv')
CREDPAR_df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
1,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
2,tm19424,Detour,MOVIE,"The life of Al Roberts, a pianist in a New Yor...",1945,NaN,66,"['thriller', 'drama', 'crime']",['US'],NaN,tt0037638,7.3,17233.0,7.757,7.2
3,tm112005,Marihuana,MOVIE,A young girl named Burma attends a beach party...,1936,NaN,57,"['crime', 'drama']",['US'],NaN,tt0026683,4.0,864.0,3.748,3.6
4,tm22806,Intolerance: Love's Struggle Throughout the Ages,MOVIE,"The story of a poor young woman, separated by ...",1916,NaN,197,"['history', 'drama']",['US'],NaN,tt0006864,7.7,15242.0,9.412,7.2

In [11]:
#select desired attributes
PAR_SELECTED = CREDPAR_df[['id','title','type','release_year', 'genres','production_countries', 'imdb_score','imdb_votes']]
PAR_SELECTED.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
0,tm19248,The General,MOVIE,1926,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],8.2,89766.0
1,tm83884,His Girl Friday,MOVIE,1940,"['comedy', 'drama', 'romance']",['US'],7.8,57835.0
2,tm19424,Detour,MOVIE,1945,"['thriller', 'drama', 'crime']",['US'],7.3,17233.0
3,tm112005,Marihuana,MOVIE,1936,"['crime', 'drama']",['US'],4.0,864.0
4,tm22806,Intolerance: Love's Struggle Throughout the Ages,MOVIE,1916,"['history', 'drama']",['US'],7.7,15242.0

# PARAMOUNT SHOW CLEAN UP

In [12]:
#split the TVSHOWS 
PAR_SHOWS = PAR_SELECTED.loc[PAR_SELECTED["type"] == "SHOW", :]
PAR_SHOWS.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
550,ts22109,The Twilight Zone,SHOW,1959,"['scifi', 'drama', 'fantasy', 'horror', 'thril...",['US'],9.1,80605.0
551,ts21236,Star Trek,SHOW,1966,"['scifi', 'action']",['US'],8.4,81281.0
555,ts20005,I Love Lucy,SHOW,1951,"['comedy', 'family']",['US'],8.5,25944.0
557,ts21682,Happy Days,SHOW,1974,"['comedy', 'history', 'music', 'family', 'thri...",['US'],7.3,32.0
559,ts22170,Gunsmoke,SHOW,1955,"['action', 'western']",['US'],8.0,6859.0

In [13]:
#drop NAN in all colums
CLEAN_NANpS=PAR_SHOWS.dropna() 
CLEAN_NANpS.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
550,ts22109,The Twilight Zone,SHOW,1959,"['scifi', 'drama', 'fantasy', 'horror', 'thril...",['US'],9.1,80605.0
551,ts21236,Star Trek,SHOW,1966,"['scifi', 'action']",['US'],8.4,81281.0
555,ts20005,I Love Lucy,SHOW,1951,"['comedy', 'family']",['US'],8.5,25944.0
557,ts21682,Happy Days,SHOW,1974,"['comedy', 'history', 'music', 'family', 'thri...",['US'],7.3,32.0
559,ts22170,Gunsmoke,SHOW,1955,"['action', 'western']",['US'],8.0,6859.0

In [14]:
#ascending order of IMDB SCORES AND VOTES
FINAL_PARSHOWS = CLEAN_NANpS.sort_values(['imdb_score', 'imdb_votes'],
              ascending = [False, False]).reset_index(drop=True)
FINAL_PARSHOWS.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
0,ts107506,Orangutan Jungle School,SHOW,2018,['documentation'],"['AU', 'US']",9.4,143.0
1,ts3371,Avatar: The Last Airbender,SHOW,2005,"['scifi', 'family', 'fantasy', 'animation', 'a...",['US'],9.3,297336.0
2,ts22109,The Twilight Zone,SHOW,1959,"['scifi', 'drama', 'fantasy', 'horror', 'thril...",['US'],9.1,80605.0
3,ts166066,L.A. Frock Stars,SHOW,2013,['reality'],['ZA'],9.0,41.0
4,ts125631,Ol Pejeta Diaries,SHOW,2015,[],[],9.0,6.0

# PARAMOUNT MOVIES CLEAN UP

In [15]:
#split the MOVIES
PAR_MOVIES = PAR_SELECTED.loc[PAR_SELECTED["type"] == "MOVIE", :]
PAR_MOVIES.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
0,tm19248,The General,MOVIE,1926,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],8.2,89766.0
1,tm83884,His Girl Friday,MOVIE,1940,"['comedy', 'drama', 'romance']",['US'],7.8,57835.0
2,tm19424,Detour,MOVIE,1945,"['thriller', 'drama', 'crime']",['US'],7.3,17233.0
3,tm112005,Marihuana,MOVIE,1936,"['crime', 'drama']",['US'],4.0,864.0
4,tm22806,Intolerance: Love's Struggle Throughout the Ages,MOVIE,1916,"['history', 'drama']",['US'],7.7,15242.0

In [16]:
#drop NAN in all colums
CLEAN_NANpM=PAR_MOVIES.dropna() 
CLEAN_NANpM.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
0,tm19248,The General,MOVIE,1926,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],8.2,89766.0
1,tm83884,His Girl Friday,MOVIE,1940,"['comedy', 'drama', 'romance']",['US'],7.8,57835.0
2,tm19424,Detour,MOVIE,1945,"['thriller', 'drama', 'crime']",['US'],7.3,17233.0
3,tm112005,Marihuana,MOVIE,1936,"['crime', 'drama']",['US'],4.0,864.0
4,tm22806,Intolerance: Love's Struggle Throughout the Ages,MOVIE,1916,"['history', 'drama']",['US'],7.7,15242.0

In [17]:
#ascending order of IMDB SCORES AND VOTES
FINAL_PARMOVIE = CLEAN_NANpM.sort_values(['imdb_score', 'imdb_votes'],
              ascending = [False, False]).reset_index(drop=True)
FINAL_PARMOVIE.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
0,tm1175333,The Loyola Project,MOVIE,2022,['documentation'],[],9.4,10.0
1,tm155580,The Godfather,MOVIE,1972,"['drama', 'crime']",['US'],9.2,1780564.0
2,tm112061,The Godfather: Part II,MOVIE,1974,"['drama', 'crime']",['US'],9.0,1230117.0
3,tm112130,Pulp Fiction,MOVIE,1994,"['thriller', 'crime', 'drama']",['US'],8.9,1982722.0
4,tm139219,Florence Foster Jenkins,MOVIE,2016,"['drama', 'crime', 'music', 'comedy']","['US', 'GB']",8.9,9.0

# MOVIES MERGE

In [23]:
# merge netflix and paramount movies dataframes
movies = [FINAL_NETMOVIE, FINAL_PARMOVIE]
movies_df = pd.concat(movies)
movies_df.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
4771,tm996762,Major,MOVIE,2022,"['action', 'drama']",['IN'],9.1,7576.0
1092,tm250247,Chhota Bheem & Krishna vs Zimbara,MOVIE,2013,['animation'],[],9.1,16.0
3271,tm853783,David Attenborough: A Life on Our Planet,MOVIE,2020,['documentation'],['GB'],8.9,31625.0
2547,tm432327,C/o Kancharapalem,MOVIE,2018,['drama'],['IN'],8.9,6842.0
237,tm92641,Inception,MOVIE,2010,"['action', 'scifi', 'music', 'thriller']","['US', 'GB']",8.8,2294231.0

# SHOWS MERGE

In [27]:
# merge netflix and paramount shows dataframes
shows = [FINAL_NETSHOW, FINAL_PARSHOWS]
shows_df = pd.concat(shows)
shows_df.head()

,id,title,type,release_year,genres,production_countries,imdb_score,imdb_votes
2658,ts265844,#ABtalks,SHOW,2018,[],[],9.6,7.0
216,ts4,Breaking Bad,SHOW,2008,"['drama', 'crime', 'thriller']",['US'],9.5,1775990.0
564,ts160526,Khawatir,SHOW,2005,['reality'],[],9.5,3115.0
233,ts3371,Avatar: The Last Airbender,SHOW,2005,"['scifi', 'animation', 'action', 'family', 'fa...",['US'],9.3,303666.0
3147,ts85398,Our Planet,SHOW,2019,['documentation'],['GB'],9.3,42259.0